.questions {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.questions__text {
    font-size: 32px;
    font-weight: 300;
}

.questions__between {
    font-size: 32px;
    font-weight: 300;
    margin: 0 10px;
}