.body {
    position: relative;
    overflow: hidden;
}

.register {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .register {
        background: linear-gradient(180deg, #FF8282 0%, #5743CA 150%);
    }
}