.test__body {
    padding: 100px 200px;
    padding-bottom: 0;
    overflow-y: scroll;
    height: calc(100vh - 250px);
}

.hide {
    display: none;
}

@media screen and (max-width: 1100px) {
    .test__body {
        padding: 50px 100px;
        padding-bottom: 0;
        height: calc(100vh - 260px);
    }
}

@media screen and (max-width: 700px) {
    .test__body {
        padding: 50px;
        padding-bottom: 0;
        height: calc(100vh - 230px);
    }
}

@media screen and (max-width: 700px) {
    .test__body {
        padding: 0 30px;
        padding-top: 40px;
    }
}