.tab {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}

.tab_active {
    font-weight: 900;
}

@media screen and (max-width: 600px) {
    .tab {
        font-size: 20px;
    }
}